



header a img, footer a img{
    
    width : 50px;
    height : auto;
  }


  header > a, footer a{
    text-align: left;
  }
  
  .rotate {
    animation: rotation 2s;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  .linear {
    animation-timing-function: linear;
  }
  
  .infinite {
    animation-iteration-count: infinite;
  }
  
  .rotate-image {
    animation: rotation 2s linear infinite;
  }
  


  .word-row.is-playing { 
    background: #fff4e5; 
    outline: 2px solid #ffd8a8;
  }
  .speak .icon { margin-left: .25rem; opacity: .75; }

  


  


